---
import CardService from "../Cards/CardService.jsx";

const services = [
  { title: "UI/UX Design", color: "bg-[#2D9CDB]", icon: "edit" },
  { title: "Front End", color: "bg-[#27AE60]", icon: "code" },
  { title: "Back End", color: "bg-[#EB5757]", icon: "List" }
];

---

<section id="Services" class="w-full max-w-6xl flex flex-col items-center mt-24 lg:mt-[194px]  md:items-start">
  <h3
    class="w-3/4 max-w-sm text-2xl mt-2 text-[#333] font-semibold md:text-3xl md:mt-4 lg:text-4xl lg:leading-[50px]"
  >
    We offer high demand services
  </h3>

  <div class="mt-16 grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-3">
    <CardService title={services[0].title} color={services[0].color} icon={services[0].icon} client:load />
    <CardService title={services[1].title} color={services[1].color} icon={services[1].icon} client:load/>
    <CardService title={services[2].title} color={services[2].color} icon={services[2].icon} client:load/>
  </div>
</section>
